<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automated Parking System</title>
  <link rel="stylesheet" href="/styles/home.css">
</head>
<body>

<nav class="navbar">
  <div class="container">
    <a href="#" class="logo">Automated Parking System</a>
    <ul class="nav-links">
      <%if(user){%>
        <li><a href="/">Welcome <%=user.name%></a></li>
        <li></li>
        <li></li>
        
      <%}%> 
      <li><a href="/">Home</a></li>
      <li><a href="/book">Check Availability</a></li>
      <%if(user){%>
        <li><a href="/parks">Parkings</a></li>
        <li><a href="/logout">Logout</a></li>
        <!-- Will give parking history and Due -->

      <%}else{%>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
      <%}%>
    </ul>
  </div>
</nav>