
<%- include('partials/navbar') %>

<div class="container">
  <h1>Welcome to Automated Parking System</h1>
  <p>This is a prototype of our automated parking system.</p>
</div>
<%- include('partials/footer') %>